# --- 자바 컴파일 결과물 무시 (가장 중요!) ---
target/
*.class

# --- IDE 설정 파일 무시 (협업할 때 충돌 방지) ---
# IntelliJ
.idea/
*.iml
*.iws

# VS Code
.vscode/

# Eclipse
.classpath
.project
.settings/

# --- 운영체제 임시 파일 무시 ---
# Mac
.DS_Store
# Windows
Thumbs.db

users.json